<div class="home-container" *ngIf="user$ | async as user">
    <h1>Welcome, {{ user.email }}!</h1>
    <p>You are successfully logged in.</p>

    <app-bookmarks-list></app-bookmarks-list>

    <div class="fab-container">
        <button mat-fab color="primary" (click)="openAddLinkDialog()" matTooltip="Add Link">
            <mat-icon>link</mat-icon>
        </button>
        <button mat-fab color="accent" (click)="openAddFolderDialog()" matTooltip="Add Folder">
            <mat-icon>create_new_folder</mat-icon>
        </button>
    </div>

    <button mat-raised-button color="warn" (click)="logout()" class="logout-btn">Logout</button>
</div>